* {
	-webkit-box-sizing: border-box;
    
	-moz-box-sizing: border-box;
    
	-ms-box-sizing: border-box;
    
	 box-sizing: border-box;
}

* {
	font-family: 'Lato', sans-serif;
}

h1 {
	color: #747704;
	font-size: 36px;
	font-weight: lighter;
	margin: 0;
	padding: 0;
}
h2 {
	color: #BCBBBB;
	font-size:36px;
}
h3 {
	color: #747704;
	font-size: 36px;
	text-align: center;
	margin: 0;
	padding: 0;
}
h4 {
	color: #747704;
	font-size: 18px;
	margin: 0;
	padding: 0;
}
p {
	text-align: justify;
	margin-left: 5%;
	margin-right: 10%;
	color: solid black;
	font-size:1.3750em;
	font-weight: bolder;
	line-height: 1.5625em;
}

img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px 0;
	vertical-align: middle;
	position: relative;
}
.grid { 
	margin: 0 auto;
	max-width: 1200px;
 	width: 100%;
 	position: relative;
}

.row {
	width: 100%;
 }
.col-logo {
	float:left;
    width: 50%;
    margin: auto;
}
.col-name {
	float: right;
	width: 40%;
	margin: 0;
	text-align: right;
}

.info {
	border-top: 0.25em solid black;
	background-image:url("images/background.png");
	background-size: 100%;
   	float: left;
   	width: 100%;
   	
}

.col-12 {
	float: left;
	width: 100%;
	margin: auto;
}

.col-one-third-first {
  	float:left;
 	width: 30.3%;
 	margin-right: 3%;
 	text-align: center;
}

.col-one-third-second {
	float:left;
 	width: 33.3%;
 	text-align: center;
}

.col-one-third-last {
  	float: right;
 	width: 30%;
 	text-align: center;
}






